# Keil MDK 文件
*.uvoptx
*.uvgui.*
*.uvguix.*
*.dep
*.crf
*.build_log.htm

# 编译输出
*.o
*.d
*.lst
*.axf
*.lnp
*.map
*.elf
*.hex
*.bin
*.sct
*_sct.Bak
*.htm
*.dbgconf
*.iex

# 构建目录
**/DebugConfig/
**/Objects/
**/Listings/
**/Build/
**/build/

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store

# 需要保留的项目文件
!*.uvprojx
!*.uvmpw
